    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><link type="text/css" rel="stylesheet" href="/portal/javax.faces.resource/theme.css.faces?ln=primefaces-ui-lightness" /><link type="text/css" rel="stylesheet" href="/portal/javax.faces.resource/primefaces.css.faces?ln=primefaces&amp;v=3.0.1" /><script type="text/javascript" src="/portal/javax.faces.resource/jquery/jquery.js.faces?ln=primefaces&amp;v=3.0.1"></script><script type="text/javascript" src="/portal/javax.faces.resource/primefaces.js.faces?ln=primefaces&amp;v=3.0.1"></script>
        <link rel="stylesheet" type="text/css" href="/portal/css/style.css" />
        <style type="text/css">
<!--
#apDiv1 {
	position: absolute;
	left: 10px;
	top: 68px;
	width: 870px;
	height: 25px;
	z-index: 1;
}
#apDiv2 {
	position: absolute;
	left: 35px;
	top: 158px;
	width: 370px;
	height: 214px;
	z-index: 2;
}
.style1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 26px;
	color: #003366;
}
#apDiv3 {
	position:absolute;
	left:9px;
	top:9px;
	width:312px;
	height:45px;
	z-index:3;
}
-->
        </style>
        </head>
<body>
    <div id="apDiv1">
    
      <div id="j_idt14:j_idt15" class="ui-toolbar ui-widget ui-widget-header ui-corner-all ui-helper-clearfix">
        <div class="ui-toolbar-group-left">
          <a href="#">
                        Cadastre-se agora
        </a></div><div class="ui-toolbar-group-right">
                
                    Email 
                    <input id="j_idt14:email" type="text" name="j_idt14:email" />
                        
                    Senha 
                    <input id="j_idt14:senha" type="password" name="j_idt14:senha" value="" />
            </div>
        </div>	

    </div>
    <div id="apDiv2">
    
<div id="j_idt14:j_idt18" class="ui-panel ui-widget ui-widget-content ui-corner-all">
        	<div id="j_idt14:j_idt18_header" class="ui-panel-titlebar ui-widget-header ui-corner-all">
            	<span class="ui-panel-title">Cadastre-se e faça parte do Para Amigos</span>
            </div>
        	<div id="j_idt14:j_idt18_content" class="ui-panel-content ui-widget-content"></div>
        </div>
    
    </div>
    
	<div id="apDiv3">
		<span class="style1">Para Amigos</span>    
    </div>
    
    
</form>
</body>
</html>
    
    
    
    
    
    
    
    