    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<style type="text/css">
<!--
#apDiv2 {
	position: absolute;
	left: 317px;
	top: 87px;
	width: 537px;
	height: 336px;
	z-index: 2;
}
#apDiv3 {
	position:absolute;
	text-align:center;
	left:381px;
	top:96px;
	width:317px;
	height:41px;
	z-index:3;
	background-color: #FF3333;
}
.style1 {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 18px;
}
-->
        </style>
        </head>
<body>
<form>

	<div class="style1" id="apDiv3">
    	Ocorreram erros ao se logar </div>
    
	<div id="apDiv2">
    	
    
		<br/><br/><br/>
    
      #{msg.lb_nome} <br/>
		<input
			type="text"
			maxlength="150" 
			id="nome"/>

		<br/>
		<br/>
	
		#{msg.lb_email} <br/> 
		<input
			type="text"
			maxlength="150" 
			id="emailBox"/>
			
		<br/>
		<br/>
		
		#{msg.lb_senha} <br/> 
		<input
			type="password" 
			maxlength="50"
			id="senhaBox" />
    
	</div>
    
    
    
</form>
</body>
</html>
    
    
    
    
    
    
    
    