
	#divBoxErrValRegist {
		position: absolute;
		left: 410px;
		top: 87px;
		width: 336px;
		height: 336px;
		z-index: 2;
	}

	#divErroValRegist {
		background-color: #FF3333;
		position:absolute;
		text-align:center;
		left:420px;
		top:96px;
		width:317px;
		height:41px;
		z-index:3;
	}

	.styleDivErroValRegist {
		color: #FFFFFF;
		font-family: sans-serif; 
		font-weight: bold;
		font-size: 18px;
	}

	.logoParaAmigos {
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 26px;
		color: #003366;
	}

	.txtBoxIndex {
		width: 245px;
	}

	.ui-widget {  
	    font-size: 13px !important;  
	}  

	.cssBoxMsgIndex {
		font-family:'Verdana';
		color:Red;
	}

	#boxMsgEmailIndex {
		position:absolute;
		left:465px;
		top:95px;
		width:400px;
		height:45px;
		z-index:4;
	}

	#boxMsgSenhaIndex {
		position:absolute;
		left:700px;
		top:95px;
		width:400px;
		height:45px;
		z-index:4;
	}

	#boxLogoTopo {
		position:absolute;
		left:9px;
		top:9px;
		width:312px;
		height:45px;
		z-index:3;
	}

	#toolbarIndex {
		position: absolute;
		left: 10px;
		top: 55px;
		width: 940px;
		height: 25px;
		z-index: 1;
	}
	
	#boxRegIndex {
		position: absolute;
		left: 35px;
		top: 120px;
		width: 340px;
		height: 214px;
		z-index: 2;
	}

	
	
	
	
	
	